.schedule a {
  color: #E12B00;
  border: none;
}

.schedule a:hover {
  color: #E12B00;
  text-decoration: underline;
  border: none;
};

.schedule a:active {
  color: red;
  text-decoration: underline;
  border: none;
}

.schedule a:visited {
  color: #B82300;
  text-decoration: none;
  border: none;
}

.tweets-feed {
  color: #FFFFFF;
  line-height: 36px;
  font-size: 30px;
  transition: opacity 0.2s linear;
  margin-bottom: 20px;
  height: 150px;
}

.tweets-feed a {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight:700;
}

.tweets-feed a:hover {
  color: #FFFFFF;
}

.tweets-feed .dateTweeted {
  font-size: 15px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.subscribe-1 .email-subscribe {
  margin-bottom: 50px !important;
}
