/*img.rss {
  margin-bottom: 30px;
}


#result {
  height: 500px;
  margin: 0px auto;
  background-color: black;
  overflow: hidden;
  margin-bottom: 40px;
}
#result .item{

}
.post {
  display: none;
  padding: 20px;
  position: relative;
  height: 100%;
}

.title, .author-date {
  padding: 0 0 20px;
}

.post.active {
  display: block;
}

.post > h4 {
  font-size: 1em;
}

.links {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0;
}

.links li {
  display: inline-block;
  margin-right: 15px;
  background-color: #2D728F;
  padding: 5px 10px;
}

.post img, post svg{
  display: block;
  width:30%;
  height: 30%;
  margin: 10px auto;
}

.post .link {
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: -20px;
  margin-top: 440px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 700;
  background-color: #fff; 
  transition: background-color 0.2s ease-in;
  color: #e12b00;
}

.linkText {
  padding-bottom: 3px;
  font-size: 1.5em;
}

.post .link:hover {
  background-color: #ddd; 
  
}*/
#result .blogtitle{
  margin-top: 30px;
}