.dark-layer {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

  .schedule a {
  color: #E12B00;
  border: none;
}

.schedule a:hover {
  color: #E12B00;
  text-decoration: underline;
  border: none;
}

.schedule a:active {
  color: red;
  text-decoration: underline;
  border: none;
}

.schedule a:visited {
  color: #B82300;
  text-decoration: none;
  border: none;
}

.tweets-feed {
  color: #FFFFFF;
  line-height: 25px;
  font-size: 20px;
  transition: opacity 0.2s linear;
  margin-bottom: 20px;
  height: 250px;
}

.tweets-feed a {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight:700;
}

.tweets-feed a:hover {
  color: #FFFFFF;
}

.tweets-feed .dateTweeted {
  font-size: 15px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.subscribe-1 .email-subscribe {
  margin-bottom: 50px !important;
}
.newsletter-name{
  padding-right: 0px;
}
.newsletter-name input{
  border-radius: 10px 0px 0px 10px;
}
.newsletter-email{
  padding-left: 5px;
  padding-right: 5px;
}
.newsletter-email input{
  border-radius: 0px;
  margin-left: 10px;

}
.newsletter-submit{
  padding-left: 0px;

}
.newsletter-submit input{
  border-radius: 0px 10px 10px 0px;
  margin-left: 14px;

}
.social-profiles a i{
  transition: all .5s;
}
.social-profiles a:hover i{
  color: grey;
}
.sticky-nav .menu li a:hover {
  border-color: #C3BFBF;
  border-bottom-width: 2px;
  margin-bottom: 2px;
}

.sidebar-content .widget ul li a:hover{
  border-color: #C3BFBF;
  border-bottom-width: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.item .wp-post-image{
  height: auto;
}
@media screen and (min-width: 350px) and (max-width: 440px)
{
  #DevPrograms{
    height: 90vh;
  }
}
@media screen and (min-width: 290px) and (max-width: 350px)
{
  #DevPrograms{
      height: 115vh;
  }
}

@media screen and (min-width: 240px) and (max-width: 290px)
{
  #DevPrograms{
    height: 120vh;
  }
}

@media screen and (max-width: 240px)
{
  #DevPrograms{
    height: 180vh;
  }
}

/*css classes for hiding and showing Donation and regular supporter parts in donate.html*/
.appear{
  display: block;
}
.hide{
  display: none;
}
.baddition{
  margin-left:  600px;
}
.background-image {
  width: 100%;
}
@media screen and (max-width: 560px){
  .price{
    font-size: 10vw !important;
  }
}
nav{
  -webkit-transition: top 0.7s ease-in-out !important;
  transition: top 0.7s ease-in-out !important;
}
.mobile-menu-toggle{
  position: absolute;
  top: -7px;
}
.embedded-video-holder{
  margin-top: 10px;
}

 .app_tile {
  display: inline-block;
  padding: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
 .app_tile:before {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 20));
  width: 200%;
  height: 150%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}
 .app_tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
 .app_tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: grey;
}
 .app_tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
 .app_tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
 .app_tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 14px;
}
 .app_tile:focus:before,
 .app_tile:focus span,  .app_tile:hover:before,
 .app_tile:hover span {
  opacity: 1;
}
 .app_tile:focus:before,  .app_tile:hover:before {
  top: 50%;
}
 .app_tile:focus span,  .app_tile:hover span {
  top: 0;
}
 .app_tile:focus .title,  .app_tile:hover .title {
  transition-delay: 0.15s;
}
 .app_tile:focus .info,  .app_tile:hover .info {
  transition-delay: 0.25s;
}
#androids{
  align-items: center;
  align-self: center;
  align-content: center;
  margin-left: 250px;
  margin-top: 350px;

}
.equal-row{
  display: flex;
  flex-wrap: wrap;
}
