.schedule a {
  color: #E12B00;
  border: none;
}

.schedule a:hover {
  color: #E12B00;
  text-decoration: underline;
  border: none;
};

.schedule a:active {
  color: red;
  text-decoration: underline;
  border: none;
}

.schedule a:visited {
  color: #B82300;
  text-decoration: none;
  border: none;
}

.tweets-feed {
  color: #FFFFFF;
  line-height: 25px;
  font-size: 20px;
  transition: opacity 0.2s linear;
  margin-bottom: 20px;
  height: 250px;
}

.tweets-feed a {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight:700;
}

.tweets-feed a:hover {
  color: #FFFFFF;
}

.tweets-feed .dateTweeted {
  font-size: 15px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.subscribe-1 .email-subscribe {
  margin-bottom: 50px !important;
}
.newsletter-name{
  padding-right: 0px;
}
.newsletter-name input{
  border-radius: 10px 0px 0px 10px;
}
.newsletter-email{
  padding-left: 5px;
  padding-right: 5px;
}
.newsletter-email input{
  border-radius: 0px;
}
.newsletter-submit{
  padding-left: 0px;
}
.newsletter-submit input{
  border-radius: 0px 10px 10px 0px;
}
.social-profiles a i{
  transition: all .5s;
}
.social-profiles a:hover i{
  color: grey;
}
.sticky-nav .menu li a:hover {
  border-color: #C3BFBF;
  border-bottom-width: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.sidebar-content .widget ul li a:hover{
  border-color: #C3BFBF;
  border-bottom-width: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/*css classes for hiding and showing Donation and regular supporter parts in donate.html*/
.appear{
  display: block;
}
.hide{
  display: none;
}
.baddition{
  margin-left:  600px;
}