.dark-layer {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

  .schedule a {
  color: #E12B00;
  border: none;
}

.schedule a:hover {
  color: #E12B00;
  text-decoration: underline;
  border: none;
}

.schedule a:active {
  color: red;
  text-decoration: underline;
  border: none;
}

.schedule a:visited {
  color: #B82300;
  text-decoration: none;
  border: none;
}

.tweets-feed {
  color: #FFFFFF;
  line-height: 25px;
  font-size: 20px;
  transition: opacity 0.2s linear;
  margin-bottom: 20px;
  height: 250px;
}

.tweets-feed a {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight:700;
}

.tweets-feed a:hover {
  color: #FFFFFF;
}

.tweets-feed .dateTweeted {
  font-size: 15px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.subscribe-1 .email-subscribe {
  margin-bottom: 50px !important;
}
.newsletter-name{
  padding-right: 0px;
}
.newsletter-name input{
  border-radius: 10px 0px 0px 10px;
}
.newsletter-email{
  padding-left: 5px;
  padding-right: 5px;
}
.newsletter-email input{
  border-radius: 0px;
  margin-left: 10px;

}
.newsletter-submit{
  padding-left: 0px;

}
.newsletter-submit input{
  border-radius: 0px 10px 10px 0px;
  margin-left: 14px;

}
.social-profiles a i{
  transition: all .5s;
}
.social-profiles a:hover i{
  color: grey;
}
.sticky-nav .menu li a:hover {
  border-color: #C3BFBF;
  border-bottom-width: 2px;
  margin-bottom: 2px;
}

.sidebar-content .widget ul li a:hover{
  border-color: #C3BFBF;
  border-bottom-width: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.item .wp-post-image{
  height: auto;
}
@media screen and (min-width: 350px) and (max-width: 440px)
{
  #DevPrograms{
    height: 90vh;
  }
}
@media screen and (min-width: 290px) and (max-width: 350px)
{
  #DevPrograms{
      height: 115vh;
  }
}

@media screen and (min-width: 240px) and (max-width: 290px)
{
  #DevPrograms{
    height: 120vh;
  }
}

@media screen and (max-width: 240px)
{
  #DevPrograms{
    height: 180vh;
  }
}

/*css classes for hiding and showing Donation and regular supporter parts in donate.html*/
.appear{
  display: block;
}
.hide{
  display: none;
}

.text-white a:focus {
  color: lightgray;
  border-bottom: 4px solid lightgray;
  text-decoration: none;
}

.text-white a:hover {
  color: white;
  border-bottom: 4px solid white;
}

.baddition{
  margin-left:  600px;
}
.background-image {
  width: 100%;
}

@media screen and (max-width: 560px){
  .price{
    font-size: 10vw !important;
  }
}

nav{
  -webkit-transition: top 0.7s ease-in-out !important;
  transition: top 0.7s ease-in-out !important;
}
.mobile-menu-toggle{
  position: absolute;
  top: -7px;
}
.embedded-video-holder{
  margin-top: 10px;
}
 .has-submenu{
  position: relative;
} 
.submenu{
  top: 0px;
  left: 100%;
}
.has-submenu > a:after{
  display: inline-block;

  font-family: 'Pe-icon-7-stroke'; 
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e684";
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 3px;
  right: 25px;
  color: #333;
}
.has-submenu:hover > a:after{
  color: #fff;
}
.nav-dropdown li:hover > a{
  color: #fff;
}
.equal-row{
  display: flex;
  flex-wrap: wrap;
}
