.container {
  position: relative;
}

.text-block {
  align: left;
  background-color: rgba(105, 105, 105, 0.7);
  color: black;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: -20px;
  margin-right: -43%;
  transform: translate(-50%, -50%)
}
