<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>
        Site Map
    </title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    <link href="sitemap.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="cont">
        <h1>
            FOSSASIA Sitemap
        </h1>
        <h3>
            <a href="http://fossasia.org">
     Homepage
    </a> Last updated: 2016, September 23
        </h3>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr valign="top">
                    <td class="lpart" colspan="100">
                        <div class="lhead">
                            Homepage/
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="lpage">
                                            <a href="http://fossasia.org/" title="FOSSASIA | Asia's Open Technology Organization for Open Source Software, Hardware, Open Design, Open Data, Open Knowledge">
             FOSSASIA | Asia's Open Technology Organization for Open Source Software, Hardware, Open Design, Open Data, Open Knowledge
            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% for site in sites %}
        <div class="lhead">
            {{site.name}}
            <span class="lcount">
     1 pages
    </span>
        </div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td class="lpage">
                        <a href={{site.url}} title={{site.title}}>
        {{site.title}}
       </a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
</body>

</html>
